
.load1 .loader {
  margin: 40% auto;
}
.load2 .loader {
  margin: -5em 0 0 -5em;
}
.load3 .loader {
  margin: -5.5em 0 0 -5.5em;
}
.load4 .loader {
  font-size: 20px;
  margin: 45% auto;
}
.load5 .loader {
  margin: 46% auto;
}
.load6 .loader {
  margin: -0.5em 0 0 -0.5em;
}
.load7 .loader {
  margin: -1.25em 0 0 -1.25em;
}
.load8 .loader {
  margin: -6em 0 0 -6em;
}